@import 'minty/variables';
@import 'bootstrap';
@import 'minty/bootswatch';

/* Show it is fixed to the top */
body {
  min-height: 50rem;
  padding-top: 4.5rem;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}
